# compiled code.
*.py[co]

# Packages
*.egg
*.egg-info
# dist
# build
eggs
.eggs/
# parts
# bin
# var
# sdist
develop-eggs
.installed.cfg
build
dist
.cache

# Installer logs
pip-log.txt
env/

# Unit test / coverage reports
.coverage
.pytest_cache
.tox

#Translations
*.mo

# Mac FS
.DS_Store

#Mr Developer
.mr.developer.cfg

# Swap files.
*.swp

.pip
.pypirc
coverage.xml
.python-version
\#*\#

#Docs
docs/_build
docs/apidoc/
