sudo: false
cache:
  directories:
    - $HOME/.cache/pip
language: python
matrix:
  include:
    - python: 2.6
      env: TOXENV=py26
    - python: 2.7
      env: TOXENV=py27,py27-flake8
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35
    - python: 3.6
      env: TOXENV=py36,py36-flake8
    - python: pypy
      env: TOXENV=pypy
# Drop pypy3 support until travis fixes python3 pypy interpreter path issue
# https://github.com/travis-ci/travis-ci/issues/6304#ref-issue-177592739

services:
  - memcached

install:
  - travis_retry pip install tox

script:
  - travis_retry tox -- -m unit,integration
