sudo: false
cache:
  directories:
    - $HOME/.cache/pip
language: python

services:
  - memcached

env:
  - TOXENV=py26
  - TOXENV=py27
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=pypy
  - TOXENV=pypy3

install:
  - travis_retry pip install tox

script:
  - travis_retry tox -- -m unit,integration
