name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, pypy2, pypy3]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        sudo apt-get install libmemcached-dev
    - name: Lint
      if: matrix.python-version == '2.7' || matrix.python-version == '3.8'
      run: |
        pip install codespell flake8
        codespell . --skip=./.*,./pymemcache/test/certs --quiet-level=2
        flake8 --max-complexity=18 .
        python setup.py check --restructuredtext
    - name: Tests
      run: |
        pip install -r test-requirements.txt
        py.test pymemcache/test/ \
            -m 'unit or integration' \
            --port ${{ job.services.memcached.ports[11211] }} \
            --tls-port ${{ job.services.tls_memcached.ports[11211] }}

    services:
      memcached:
        image: memcached:latest
        ports:
        - 11211/tcp
      tls_memcached:
        image: scoriacorp/tls_memcached:latest
        ports:
        - 11211/tcp
